# Used by docker-compose for image tagging/substitution
APP_VERSION=0.9.8.2

# DB defaults (used by docker-compose and Prisma)
DB_HOST=db
DB_PORT=5432
DB_USER=rechnung_app
DB_PASS=change_me
DB_NAME=rechnung_prod
DB_SCHEMA=public
DATABASE_URL=postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=${DB_SCHEMA}

# Host binding for app (forwarded by proxy):
APP_HOST=192.200.255.225
APP_PORT=3031
