# Node
backend/node_modules/
backend/npm-debug.log*
backend/yarn-error.log*

# Env / Secrets
backend/.env
.env

# Build / Cache / Temp
backend/pdfs/
backend/dist/
backend/.cache/
backend/.tmp/
.tmp/
backend/core/
.env.local
data/
.DS_Store

# SSL Certificates
backend/certificates/**/*.pem
backend/certificates/**/*.key
backend/certificates/**/*.crt

# Logs
logs/
*.log

# OS / Editor
.vscode/
.idea/
*.swp
backend/core/
